#MainPage {
    height: auto;
    background-image: url('SkyLineBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 1vh 1vw 0 1vw;
}
.FloatingButton {

}
#NavigationButtons {
    margin: 1vw;
    position: absolute;
    top: 1vh;
    right: 0;
}
#ThemeFloatingButton {
    position: absolute;
    top: 1vh;
    left: 1vw;
}
#HomeFloatingButton {
}
#PortfolioFloatingButton {
    margin-right: 1vw;
}

#TitleCard {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vh;
}
#BioSection {
    width: 50%;
    padding: 2%;
}
#BioTitle {
    align-items: center;
    display: flex;
    justify-content: center;
}
.TitleText {
    font-size: 4em;
    visibility: hidden;
    margin: 0;
    display: inline;
}
#BioText {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10%;
    padding: 4%;
    margin-top: 1vh;
    height: 50%;
}
#ProfPhoto {
    height: 100%;
    max-height: 40vw;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 20%;
}

#PortfolioLinkSection {
    background-color: rgba(255, 255, 255, 0.9);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1);

}
.SectionBlock {
    margin-top: 1vh;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-style: outset;
    padding: 0 2vw 0 2vw;
}
#ExperienceSection {
    background-color: rgba(255, 255, 255, 0.9);
}
#EducationSection {
    background-color: rgba(255, 255, 255, 0.9);
}
#SkillsSection {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 1vh;
}
.ResumeItems {
    display: flex;
}
table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
td {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.Link {
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 1% 0 0 0;
}

.ShrinkTitleCardAnimation {
    animation: ShrinkTitleCardFixed 3s forwards;
}

@keyframes ShrinkTitleCardFixed {
    to {
        height: 40vh;
    }
}
@keyframes ShrinkTitleCardAuto {
    to {
        height: auto;
    }
}

@media (max-width : 1024px) and (orientation : portrait) {
    #TitleCard {
        padding-top: 10vh;
        flex-direction: column;
        justify-content: start;
        animation: ShrinkTitleCardAuto 3s forwards; 
    }
    #ProfPhoto {
        height: 80vw;
        max-height: 80vw;
    }
    #BioSection {
        width: 100%;
        height: auto;
    }
    #BioText {
        height: auto;
    }
    .SectionBlock {
        height: auto;
    }
}