@import "../../Globals/StyleSheet.scss";

.RoutingButton {
    justify-content: flex-start;
    width: 22vw;
}

#MainPage {
    background-color: $backgroundMain;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

#Body {
    align-self: first;
}

#Footer {
    align-self: last;
}

#Header {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

#ProfPhoto {
    width: 10vw;
    height: auto;
    margin-right: 10vw;
}

.TitleText {
    font-size: 4em;
    margin: 0;
    text-align: center;
}

#LinksSection {
    display: flex;
    flex-direction: column;
}

#DescriptorGraph {
    display: flex;
    justify-content: center;
    border: "5px solid black";
}
